.myPlayList__Background {
  display: flex;
  align-items: center;
  width: 30%;
  height: 20%;
  align-items: center;
  margin-top: 15px;
  margin-left: 60px;
  border: none;
  padding: 15px 0px;

  border-bottom: 1px solid rgb(58, 58, 58);
  img {
    padding: 15px;
    width: 15%;
    height: 15%;
    border-radius: 9999px;
  }
}
.myPlayList__NoPlayList-div {
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-weight: 300;
  font-size: 20px;
  margin-top: 50px;
  .myPlayList__NoPlayList {
    text-align: center;
    margin: auto;
    height: 32px;
  }
}
