.navigationBar {
  display: flex;
  align-items: center;
}

.navigationBar__melonIcon__a {
  width: 1%;
  .navigationBar__melonIcon {
    position: relative;
    //width: 350%;
    //height: 10%;
    width: 40px;
    height: 40px;
  }
}

.navigationBar__text {
  margin-left: 30px;
  font-size: 100%;
}
.navigationBar__text-margin {
  margin-left: 34px;
}
.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999px;
  width: 50px;
  height: 35px;
  margin-left: auto;
  margin-right: 10px;
}
.joinDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999px;
  width: 50px;
  height: 35px;
  margin-left: auto;
  border: 1px solid rgb(255, 255, 255);

  margin-right: 10px;
}
.navigationBar__login {
  margin-right: 10px;
}
