include mixins/message

doctype html
html(lang="ko")
    head
        title #{siteName} | #{pageTitle}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="shortcut icon", type="image/x-icon", href="../img/melon-i.png")

        script(src="https://kit.fontawesome.com/4f4bef0826.js" crossorigin="anonymous")

    body
        if messages.error 
            +message("error",messages.error)
        if messages.info 
            +message("info", messages.info )
        if messages.success 
            +message("success", messages.success )
        div.navigationBar
            a.navigationBar__melonIcon__a(href="/")
                img.navigationBar__melonIcon(src="../img/melon-i.png")
            if loggedIn
                a(href="").navigationBar__text My Page
                a(href="/song/my-play-list").navigationBar__text.navigationBar__text-margin My Play List
            a(href="/song/Popular-songs").navigationBar__text.navigationBar__text-margin Popular Song
            a(href="/song/beat").navigationBar__text.navigationBar__text-margin Beat
            a(href="/song/jazz").navigationBar__text.navigationBar__text-margin Jazz
            if !loggedIn
                div.joinDiv
                    a(href="/join").navigationBar__join Join
                a(href="/login").navigationBar__login Login
            if loggedIn 
                div.loginDiv
                    a(href="/logout").navigationBar__login LogOut
        include partials/header                
        main
            block content
        include partials/footer
    script(src="/static/js/main.js") 
    block scripts