extends base

block content
	div.login__melonIcon_flexDiv
		img(src="../img/melon-i.png")
		h1 Melon Join
	form(method="POST")
		input(type="email", placeholder="Email", required, name="email")
		input(type="password", placeholder="Password", required, name="password")
		input(type="password", placeholder="Password 확인", required, name="password2")
		input(type="text", placeholder="Name", required, name="name")
		input.social__btn(type="submit", value="회원가입")
	br
	div.join__loginGuide_flexDiv
		div.join__loginGuide
			span 멜론 계정을 가지고 있다면?
			a(href="/login")  로그인하기 &rarr;
