extends base

block content
	div.login__melonIcon_flexDiv
		img(src="https://lh3.google.com/u/1/d/16oc-NXME4I7f1Y2lJliGAgWdi6aijyjL=w1920-h859-iv1")
		h1 Melon Join
	form(method="POST")
		input(type="email", placeholder="Email", required, name="email")
		input(type="password", placeholder="Password", required, name="password")
		input(type="password", placeholder="Password 확인", required, name="password2")
		input(type="text", placeholder="Name", required, name="name")
		input.social__btn(type="submit", value="회원가입")
