extends base

block content
	form(method="POST")
		input(type="text", placeholder="title", required, name="title")
		input(type="text", placeholder="fileUrl", required, name="fileUrl", value="https://drive.google.com/uc?export=download&id=[FILE_ID]")
		input(type="text", placeholder="thumbUrl", required, name="thumbUrl")
		input(type="text", placeholder="아티스트", required, name="artists")
		input(type="text", placeholder="장르", required, name="genre")
		input(type="submit", value="업로드")